* {
    box-sizing: border-box;
    border: none;
}


/* config container centro */
.container-registrar {
    max-width: 400px;
    width: calc(300px + 10vw);
    min-width: 300px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: #125d96;
    border-radius: 10px;
    text-align: center;
}

.container-registrar h1{
    color:white;
    text-align: center;
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.container-registrar p{
    margin: 0px;
    color: white;
}

.container-registrar a{
  font-weight: bold;
  color:white;
}

/* formulario */
.formulario-registrar{
    margin-bottom: 20px;
    margin-top: 20px;
}


.formulario-registrar label {
    display: block;
    color: white;
    text-align: left;
}

.formulario-registrar input {
    padding: 10px;
    margin-bottom: 10px;
  }
  


/* botao */
.formulario-registrar input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #ff9400;
    font-weight: bold;
  }

  .formulario-registrar input[type="submit"]:hover{
    background-color: #dd8202;
    transition: 0.5s;
  }

  /* placeholders */
  .formulario-registrar input::-webkit-input-placeholder{
        font-style: italic;
        font-size: .8rem;
  }

  .formulario-registrar button{
    text-align: center;
    text-transform: uppercase;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #125d96;
    font-weight: bold;
  }

  .formulario-registrar button:hover{
    background-color: #003770;
    color:white;
    transition: 0.5s;
  }

  